* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: black;
  color: beige;
  font-family: "Courier New", Courier, monospace;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.main-text {
  display: flex;
  border: white solid 2px;
  color: beige;
  justify-content: center;
  align-items: center;
  height: 7rem;
  margin: 2rem 0;
}

.dom-text {
  color: white;
  align-items: center;
  justify-content: center;
}

.border-white {
  margin-top: 50px;
  width: 100%;
  border-bottom: white solid 10px;
  display: block;
}
.box-text {
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -40px;
}

.white-box {
  background-color: white;
  color: black;
  border: black solid 5px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin: 50px 0;
}

.score {
  font-size: larger;
  font-weight: bold;
}
.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: larger;
}

.input-group input {
  height: 120px;
  font-size: 100px;
  width: 120px;
}

.btn-group {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.btn {
  margin: 10px;
  font-size: x-large;
  border: none;
  background: none;
  color: beige;
  font-weight: bolder;
}

.btn:hover {
  color: red;
}
